$tan: #f0dfb4;
$reddish: #600;
$dark-gray: #333;
$white: #fff;
$blue-1: #718EA4;
$blue-2: #496D89;
$blue-3: #29506D;
$blue-4: #123652;
$blue-5: #042037;
$gold-1: #FFEAAA;
$gold-2: #D4BA6A;
$gold-3: #AA8E39;
$gold-4: #806515;
$gold-5: #554000;
$orange-1: #FFC2AA;
$orange-3: #AA5939;
$orange-4: #803315;